<!DOCTYPE html>
<html>
<head>
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
</head>
<body>
<div class="container">
  <h3 class="topTitle h3-class">QUALITY CHECK SAMPLE DATA INFORMATION</h3>
  <hr>
  <div class="row">
    <div class="col-9">
      <div class="input-group mb-3">
        <input class="form-control py-2" type="search" placeholder="Search" id="example-search-input" [(ngModel)]="search">
        <span class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="research()">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
      <table>
        <tr>
          <th colspan="4" class="tableColor">LIMS SAMPLE DATA INFORMATION</th>
          <th colspan="3" class="tableColor">SAMPLE COLLECTION DATA INFORMATION</th>
          <th class="tableColor"></th>
        </tr>
        <tr class="tableColor">
          <th width="320px">SAMPLE ID</th>
          <th width="150px">KIT ID</th>
          <th width="65px">CREATION</th>
          <th width="65px">RECEPTION</th>
          <th width="320px">SAMPLE ID</th>
          <th width="150px">KIT ID</th>
          <th width="65px">COLLECTION</th>
          <th width="50px">QC</th>
        </tr>
        <tr *ngFor="let sample of checkDataArray | paginate: { itemsPerPage: 5, currentPage: p }" class="text-center">
          <td [ngClass]="{qcKO:sample.qc==='FALSE', qcOK:sample.qc==='TRUE'}"> {{sample.sampleId}} </td>
          <td [ngClass]="{qcKO:sample.qc==='FALSE', qcOK:sample.qc==='TRUE'}"> {{sample.kidId}}</td>
          <td
            [ngClass]="{qcKO:sample.qc==='FALSE', qcOK:sample.qc==='TRUE'}"> {{sample.createDT }}</td>
          <td
            [ngClass]="{qcKO:sample.qc==='FALSE', qcOK:sample.qc==='TRUE'}"> {{sample.receivedDT }}</td>
          <td [ngClass]="{qcKO:sample.qc==='FALSE', qcOK:sample.qc==='TRUE'}"> {{sample.sampleIdRedCap}}</td>
          <td [ngClass]="{qcKO:sample.qc==='FALSE', qcOK:sample.qc==='TRUE'}"> {{sample.kidIdRedCap}}</td>
          <td
            [ngClass]="{qcKO:sample.qc==='FALSE', qcOK:sample.qc==='TRUE'}"> {{sample.collectionDT }}</td>
          <td [ngClass]="{qcKO:sample.qc==='FALSE', qcOK:sample.qc==='TRUE'}"> {{sample.qc}}</td>
        </tr>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <div class="progress-loader" [hidden]=!isLoading>
          <mat-progress-spinner [mode]="'indeterminate'" [color]="'#ffff'" diameter="50"></mat-progress-spinner>
      </div>

    </div>
    <div class="row col-3 filter">
      <div class="">
        <div class="filterTitle">FILTER</div>
        <div class=" firstFilter form-group">
          <label for="sstudyId">Study</label>
          <input type="text" class="form-control" id="sstudyId" placeholder="Study Id" [(ngModel)]="sstudyId">
        </div>
        <div class="form-group">
          <label for="kittube">Kit </label>
          <input type="text" class="form-control" id="kittube" placeholder="Kit Id" [(ngModel)]="kittube">
        </div>
        <div class="form-group">
          <label for="sampleType" >Sample Type</label>
          <input type="text" class="form-control" id="sampleType" placeholder="sampleType" [(ngModel)]="sampleType">
        </div>
        <div class="form-group">
          <label for="dateSample"> Collection Date</label>
          <input type="date" step="1" class="form-control" id="dateSample" [(ngModel)]="dateSample"/>
        </div>
        <div class="search">
          <button type="submit" class="btn mb-2 button" (click)="callSample()">Search</button>
        </div>
        <div class="exportCsv" *ngIf="limsSamples">
          <a href="" data-toggle="collapse">
            <button type="button" style="margin-bottom: 14px" class="btn button" (click)="downloadFile(checkDataArray)">
              Export to CSV
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>

