<h3 class="h3-class">Movement</h3>

<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
    <a class="nav-link active" href="#importer" data-toggle="tab" role="tab" aria-controls="importer">Importer un fichier</a>
  </li>
    <li class="nav-item">
      <a class="nav-link" href="#simple" data-toggle="tab" role="tab" aria-controls="simple">Simple Crud</a>
    </li>

  </ul>


  <div class="tab-content">
    <div class="tab-pane fade show active" id="importer" role="tabpanel">
      <br>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFileMovement" aria-describedby="inputGroupFileMovement01"  accept=".csv">
          <label class="custom-file-label" for="inputGroupFileMovement">{{fileName ? fileName : 'Choisissez un fichier!'}}</label>
        </div>
    </div>
    <div class="tab-pane fade" id="simple" role="tabpanel">
      <div class="col-sm-12">
        <table class="col-sm-12 table table-hover">
          <thead>
          <tr>
            <th>Num Compte</th>
            <th>Num Movement</th>
            <th>Sens</th>
            <th>Quantité</th>
            <th>Reférence Instrument</th>
            <th>Nav</th>
            <th>PRU</th>
            <th>Date Compte</th>
            <th>Date Valeur </th>
            <th>Date Operation</th>
          </tr>
          </thead>
        </table>
      </div>

    </div>
  </div>
</div>
