<div class="container">
  <h3 class="h3-class">Salarie</h3>
  <hr>
  <div>
    <div class=" row">
      <div class="form-group col-sm-10">
        <label style="margin-left: 10px">Mot Clé</label>
        <input style="height: 33px;width: fit-content" type="text" [(ngModel)]="motCle"/>
        <button class="btn btn-info" style="width: fit-content" (click)="searchSalarie()">Chercher</button>
      </div>
      <div class="col-sm-2" id="reportSalarie" #reportSalarie>
        <div class="d-inline-block">
          <a href="" data-toggle="collapse">
            <button type="button" style="margin-bottom: 14px" class="btn btn-info" (click)="downloadFile(salaries)">Export to CSV</button>
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <table class="col-sm-12 table table-hover">
        <thead>
        <tr>
          <th>Matricule Salarié</th>
          <th>Type Salarié</th>
          <th>Code Entreprise</th>
          <th>Date d'Embauche </th>
          <th>Date de Départ Salarié</th>
          <th>Date de la Dernière Embauche</th>
          <th>Date de la Dernière Date de Départ du Salarié</th>
          <th>Statut</th>
          <th>Flag Personnel Sensible</th>
          <th>Date Fin Sensitive</th>
          <th>Individu</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let salarie of pageSalaries?.content">
          <td> {{salarie.employeeId}}</td>
          <td>{{salarie.employeeStatus}}</td>
          <td>{{salarie.company_CD}}</td>
          <td>{{salarie.hireDate }}</td>
          <td>{{salarie.departDate}}</td>
          <td>{{salarie.lastHireDate}}</td>
          <td>{{salarie.lastDepartDate}}</td>
          <td>{{salarie.statut}}</td>
          <td>{{salarie.mySensitive}}</td>
          <td>{{salarie.dateEndSensitive}}</td>
          <td>{{salarie.individu.lastName+' '+salarie.individu.firstName}}</td>
          <td>
            <a href=""  data-toggle="collapse" >
              <i class="fa fa-edit" data-toggle="modal" data-target="#Modal" (click)="operation = 'edit'; selectedSalarie = salarie;"></i>
            </a>
            <a href="" data-toggle="collapse">
              <i class="fa fa-trash" data-toggle="modal" data-target="#Modal" (click)="operation = 'remove'; selectedSalarie = salarie;"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="container">
        <ul class="nav">
          <li class="nav-item " [ngClass]="{'activePagin': i === currentPage}" *ngFor="let p of pages; let i=index">
            <a class="nav-link clickable" routerLink="#" (click)="gotoPage(i)">{{i}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card-body">
      <div ngDraggable class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #12899e;cursor:move;" >
              <h5 class="modal-title" id="AddModalLabel" style="color: white">
                {{ operation == 'edit' ? 'Modifier Salarie' : operation == 'remove' ? 'Supprimer Salarie' :''}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align:right;width:auto">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div *ngIf="operation == 'edit'">
                  <form [formGroup]="salarieForm" style="border-color: white; overflow-y: auto">
                    <div class="form-group">
                      <label class="control-label">Matricule salarié</label>
                      <input type="text" class="form-control" formControlName="employeeId" [(ngModel)]="selectedSalarie.employeeId"/>
                    </div>
                    <div class="alert alert-danger" *ngIf="salarieForm.controls['employeeId'].invalid &&
                              (salarieForm.controls['employeeId'].touched || salarieForm.controls['employeeId'].dirty)">
                      Matricule salarié est obligatoire!
                    </div>
                    <div class="form-group">
                        <label>Type Salarié:</label>
                        <select class="form-control" formControlName="employeeStatus" [(ngModel)]="selectedSalarie.employeeStatus" (select)="selectedSalarie.employeeStatus">
                          <option value="P">P: PRESENT</option>
                          <option value="S">S: SORTI (PARTI)</option>
                          <option value="R">R: RETRAITE</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label>Code Entreprise:</label>
                      <input type="text" class="form-control" formControlName="company_CD" [(ngModel)]="selectedSalarie.company_CD"/>
                    </div>
                    <div class="form-group">
                      <label>Date d'Embauche:</label>
                      <input type="date" class="form-control" formControlName="hireDate"  [(ngModel)]="selectedSalarie.hireDate"/>
                    </div>
                    <div class="form-group">
                      <label>Date de Départ Salarié ou Retraite:</label>
                      <input type="date" class="form-control" formControlName="departDate" [(ngModel)]="selectedSalarie.departDate" />
                    </div>
                    <div class="form-group">
                      <label>Date de la Dernière Embauche:</label>
                      <input type="date" class="form-control" formControlName="lastHireDate" [(ngModel)]="selectedSalarie.lastHireDate"/>
                    </div>
                    <div class="form-group">
                      <label>Date de la Dernière Date de Départe du Salarié:</label>
                      <input type="date" class="form-control" formControlName="lastDepartDate"
                             [(ngModel)]="selectedSalarie.lastDepartDate"/>
                    </div>
                    <div class="form-group">
                      <label>Statut:</label>
                      <select class="form-control" formControlName="statut" [(ngModel)]="selectedSalarie.statut" (select)="selectedSalarie.statut">
                        <option value="A">A: Actif</option>
                        <option value="D">D: Décédé</option>
                      </select>
                      </div>
                    <div class="form-group">
                      <label>Flag personnel Sensible:</label>
                      <select class="form-control" formControlName="mySensitive" [(ngModel)]="selectedSalarie.mySensitive" (select)="selectedSalarie.mySensitive">
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Date end sensitive</label>
                      <input type="date" class="form-control" formControlName="dateEndSensitive" [(ngModel)]="selectedSalarie.dateEndSensitive"/>
                    </div>
                    <div class="form-group" [hidden]="operation=='edit'">
                      <label>Individu:</label>
                      <input type="text" class="form-control" formControlName="individu" [(ngModel)]="selectedSalarie.individu"/>
                    </div>

                    <button class="btn btn-info" data-dismiss="modal"
                            (click)="updateSalarie()">
                      {{'edit' ? 'Modifier': ''}}
                    </button>
                  </form>
                </div>
                <div *ngIf="operation == 'remove'">
                  <p class="card-title">
                    ID: {{selectedSalarie.employeeId}}
                  </p>
                  <p>
                    Voulez vous supprimer cette Matricule salariè?
                  </p>
                  <button class="btn btn-success" data-dismiss="modal" [disabled]="!selectedSalarie.employeeId" (click)="deleteSalarie()">Confirmer</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
