.navbarbg{
  background-color: #6d97ac;
  background-size: contain;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #6d97ac;
  background-color: #bababa;
  border-bottom-style: double;
  padding-right: 10px;
  border-radius: 0rem;
}

.fontAwesomeBar {
  background-color: white;
  size: auto;
  color: #bababa;
}

.logBt {
  background-color: #e64329;
  border-radius: 5px;
  box-shadow: 0 0 3px white;
}

.h3{
  margin: 4px;
  }

.logosmallimg {
  background-image: url('../shared/images/IBBLLogo.png');
  background-size: cover;
  width:210px;
  height:20px;
}

p.thicker {
  font-weight: 900;
  color:#FFFFFF;
  font-size: larger;
}

.card-body {
  flex: 1 1 auto;
  padding: 0rem;
}
