<div class="container">
  <h3 class="h3-class">Audit</h3>
  <hr>
  <div class="row">
    <div class="form-inline col-sm-4">
      <div class="form-group mx-sm-3 mb-2">
        <label for="username" class="sr-only">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="motCle">
      </div>
      <button type="submit" class="btn btn-info mb-2" (click)="searchAudit()">Chercher</button>
    </div>
    <div class="form-inline col-sm-8">
      <div class="form-group mx-sm-3 mb-2">
        <input type="datetime-local" step="1" class="form-control" id="date1"  [(ngModel)]="dateBefore"/>
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <input type="datetime-local"step="1" class="form-control" id="date2" [(ngModel)]="dateAfter"/>
      </div>
      <button type="submit" class="btn btn-info mb-2" (click)="searchAuditDate()">Chercher</button>
    </div>

  </div>

<!--  <div class=" row">
    <div class="form-group col-sm-10 mx-sm-3 mb-2">
      <label style="margin-left: 10px">Mot Clé</label>
      <input class="form-control" type="text" [(ngModel)]="motCle"/>
    </div>
    <button class="btn btn-info mb-2" style="width: fit-content" (click)="searchAudit()">Chercher</button>
    &lt;!&ndash;<div class="form-group col-sm-5">
      <input type="datetime-local" style="height: 33px;width: fit-content"  [(ngModel)]="dateBefore"/>
      <input type="date" style="height: 33px;width: fit-content" [(ngModel)]="dateAfter"/>
      <button class="btn btn-info" style="width: fit-content" (click)="searchMovementByDate()" >Chercher</button>
    </div>&ndash;&gt;
    <div class="col-sm-2" id="reportAdresse" #reportAdresse>
      <div class="d-inline-block">
        <a href="" data-toggle="collapse">
          <button type="button" style="margin-bottom: 14px" class="btn btn-info" (click)="downloadFile(audits)">Export to CSV</button>
        </a>
      </div>
    </div>
  </div>-->


  <div class="col-sm-12" *ngIf="isAllAudit">
    <table class="col-sm-12 table table-hover">
      <thead>
      <tr>
        <th>User Name</th>
        <th>Login Date</th>
        <th>Date Action</th>
        <th>Upload File Name</th>
        <th>Error File Name</th>
        <th>Report File Name</th>
        <th>Movement</th>
        <th>Operations</th>
        <th>Habilitation</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let audit of pageAudits?.content">
        <td> {{audit.username}}</td>
        <td>{{audit.loginDate}}</td>
        <td>{{audit.dateAction}}</td>
        <td>{{audit.uploadFileName}}</td>
        <td>{{audit.errorFileName }}</td>
        <td>{{audit.reportFileName}}</td>
        <td>{{audit.uploadMovementFile}}</td>
        <td>{{audit.operations}}</td>
        <td>{{audit.habilitation}}</td>
        <td>
          <a href="" data-toggle="collapse">
            <i class="fa fa-info-circle" data-toggle="tooltip" data-toggle="modal" data-target="#Modal" title="User Audit Details"
            (click)="selectedAudit=audit"> </i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="container">
      <ul class="nav">
        <li class="nav-item " [ngClass]="{'activePagin': i === currentPage}" *ngFor="let p of pages; let i=index">
          <a class="nav-link clickable" (click)="gotoPage(i)">{{i}}</a>
        </li>
      </ul>
    </div>


    <div class="card-body">
      <div ngDraggable class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog"  class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #12899e;cursor:move;" >
              <h5 class="modal-title" id="AddModalLabel" style="color: white">
                Plus d'informations</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align:right;width:auto">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div>
                  <form [formGroup]="auditForm" style="border-color: white; overflow-y: auto">
                    <div class="form-group" *ngIf="selectedAudit.individuReportCSV">
                      <label class="control-label">Import CSV Module Individu:</label>
                      <textarea type="text" readonly class="form-control" formControlName="individuReportCSV" [(ngModel)]="selectedAudit.individuReportCSV">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.salarieReportCSV">
                      <label class="control-label">Import CSV Module Salarie:</label>
                      <textarea type="text" readonly class="form-control" formControlName="salarieReportCSV" [(ngModel)]="selectedAudit.salarieReportCSV">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.contactReportCSV">
                      <label class="control-label">Import CSV Module Contact:</label>
                      <textarea type="text" readonly class="form-control" formControlName="contactReportCSV" [(ngModel)]="selectedAudit.contactReportCSV">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.paymentReportCSV">
                      <label class="control-label">Import CSV Module Payment:</label>
                      <textarea type="text" readonly class="form-control" formControlName="paymentReportCSV" [(ngModel)]="selectedAudit.paymentReportCSV">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.adresseReportCSV">
                      <label class="control-label">Import CSV Module Adresse:</label>
                      <textarea type="text" readonly class="form-control" formControlName="adresseReportCSV" [(ngModel)]="selectedAudit.adresseReportCSV">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.exportMovementCSV">
                      <label class="control-label">Import CSV Operation Mouvement:</label>
                      <textarea type="text" readonly class="form-control" formControlName="exportMovementCSV" [(ngModel)]="selectedAudit.exportMovementCSV">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.exportPositionCSV">
                      <label class="control-label">Import CSV Operation Position:</label>
                      <textarea type="text" readonly class="form-control" formControlName="exportPositionCSV" [(ngModel)]="selectedAudit.exportPositionCSV">
                      </textarea>
                    </div>

                    <div class="form-group" *ngIf="selectedAudit.uploadPositionFile">
                      <label class="control-label">Upload Operation Position:</label>
                      <textarea type="text" readonly class="form-control" formControlName="uploadPositionFile" [(ngModel)]="selectedAudit.uploadPositionFile">
                      </textarea>
                    </div>

                    <div class="form-group" *ngIf="selectedAudit.compteReportCSV">
                      <label class="control-label">Import CSV Module Compte:</label>
                      <textarea type="text" readonly class="form-control" formControlName="compteReportCSV" [(ngModel)]="selectedAudit.compteReportCSV">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.createUser">
                      <label class="control-label">Create Module User:</label>
                      <textarea type="text" readonly class="form-control" formControlName="createUser" [(ngModel)]="selectedAudit.createUser">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.updateIndividu">
                      <label class="control-label">Update Module Individu:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateIndividu" [(ngModel)]="selectedAudit.updateIndividu">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.updateSalarie">
                      <label class="control-label">Update Module Salarie:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateSalarie" [(ngModel)]="selectedAudit.updateSalarie">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.updateContact">
                      <label class="control-label">Update Module Contact:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateContact" [(ngModel)]="selectedAudit.updateContact">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.updatePayment">
                      <label class="control-label">Update Module Payment:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updatePayment" [(ngModel)]="selectedAudit.updatePayment">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.updateAdresse">
                      <label class="control-label">Update Module Adresse:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateAdresse" [(ngModel)]="selectedAudit.updateAdresse">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.updateCompte">
                      <label class="control-label">Update Module Compte:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateCompte" [(ngModel)]="selectedAudit.updateCompte">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.updateMouvement">
                      <label class="control-label">Update Opération Movement:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateMouvement" [(ngModel)]="selectedAudit.updateMouvement">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.updatePosition">
                      <label class="control-label">Update Opération Position:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updatePosition" [(ngModel)]="selectedAudit.updatePosition">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.updateUser">
                      <label class="control-label">Update Module User:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateUser" [(ngModel)]="selectedAudit.updateUser">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.deleteIndividu">
                      <label class="control-label">Delete Module Individu:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteIndividu" [(ngModel)]="selectedAudit.deleteIndividu">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.deleteSalarie">
                      <label class="control-label">Delete Module Salarie:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteSalarie" [(ngModel)]="selectedAudit.deleteSalarie">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.deleteContact">
                      <label class="control-label">Delete Module Contact:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteContact" [(ngModel)]="selectedAudit.deleteContact">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.deletePayment">
                      <label class="control-label">Delete Module Payment:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deletePayment" [(ngModel)]="selectedAudit.deletePayment">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.deleteAdresse">
                      <label class="control-label">Delete Module Adresse:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteAdresse" [(ngModel)]="selectedAudit.deleteAdresse">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.deleteCompte">
                      <label class="control-label">Delete Module Compte:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteCompte" [(ngModel)]="selectedAudit.deleteCompte">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.deleteMouvement">
                      <label class="control-label">Delete Operation Movement:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteMouvement" [(ngModel)]="selectedAudit.deleteMouvement">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAudit.deletePosition">
                      <label class="control-label">Delete Operation Position:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deletePosition" [(ngModel)]="selectedAudit.deletePosition">
                      </textarea>
                    </div>

                    <div class="form-group" *ngIf="selectedAudit.deleteUser">
                      <label class="control-label">Delete Module User:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteUser" [(ngModel)]="selectedAudit.deleteUser">
                      </textarea>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="col-sm-12" *ngIf="!isAllAudit">
    <table class="col-sm-12 table table-hover">
      <thead>
      <tr>
        <th>User Name</th>
        <th>Login Date</th>
        <th>Date Action</th>
        <th>Upload File Name</th>
        <th>Error File Name</th>
        <th>Report File Name</th>
        <th>Movement</th>
        <th>Operations</th>
        <th>Habilitation</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let audit of pageDateAudits?.content">
        <td> {{audit.username}}</td>
        <td>{{audit.loginDate}}</td>
        <td>{{audit.dateAction}}</td>
        <td>{{audit.uploadFileName}}</td>
        <td>{{audit.errorFileName }}</td>
        <td>{{audit.reportFileName}}</td>
        <td>{{audit.uploadMovementFile}}</td>
        <td>{{audit.operations}}</td>
        <td>{{audit.habilitation}}</td>
        <td>
          <a href="" data-toggle="collapse">
            <i class="fa fa-info-circle" data-toggle="tooltip" data-toggle="modal" data-target="#ModalDate" title="User Audit Details"
               (click)="selectedAuditDate=audit"> </i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="container">
      <ul class="nav">
        <li class="nav-item " [ngClass]="{'activePagin': i === currentPageDate}" *ngFor="let p of pagesDate; let i=index">
          <a class="nav-link clickable" (click)="gotoPageDate(i)">{{i}}</a>
        </li>
      </ul>
    </div>


    <div class="card-body">
      <div ngDraggable class="modal fade" id="ModalDate" tabindex="-1" role="dialog" aria-labelledby="ModalLabelDate" aria-hidden="true">
        <div class="modal-dialog"  class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #12899e;cursor:move;" >
              <h5 class="modal-title" id="AddModalLabelDate" style="color: white">
                Plus d'informations</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align:right;width:auto">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div>
                  <form [formGroup]="auditForm" style="border-color: white; overflow-y: auto">
                    <div class="form-group" *ngIf="selectedAuditDate.individuReportCSV">
                      <label class="control-label">Import CSV Module Individu:</label>
                      <textarea type="text" readonly class="form-control" formControlName="individuReportCSV" [(ngModel)]="selectedAuditDate.individuReportCSV">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.salarieReportCSV">
                      <label class="control-label">Import CSV Module Salarie:</label>
                      <textarea type="text" readonly class="form-control" formControlName="salarieReportCSV" [(ngModel)]="selectedAuditDate.salarieReportCSV">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.contactReportCSV">
                      <label class="control-label">Import CSV Module Contact:</label>
                      <textarea type="text" readonly class="form-control" formControlName="contactReportCSV" [(ngModel)]="selectedAuditDate.contactReportCSV">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.paymentReportCSV">
                      <label class="control-label">Import CSV Module Payment:</label>
                      <textarea type="text" readonly class="form-control" formControlName="paymentReportCSV" [(ngModel)]="selectedAuditDate.paymentReportCSV">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.adresseReportCSV">
                      <label class="control-label">Import CSV Module Adresse:</label>
                      <textarea type="text" readonly class="form-control" formControlName="adresseReportCSV" [(ngModel)]="selectedAuditDate.adresseReportCSV">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.exportMovementCSV">
                      <label class="control-label">Import CSV Operation Mouvement:</label>
                      <textarea type="text" readonly class="form-control" formControlName="exportMovementCSV" [(ngModel)]="selectedAuditDate.exportMovementCSV">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.exportPositionCSV">
                      <label class="control-label">Import CSV Operation Position:</label>
                      <textarea type="text" readonly class="form-control" formControlName="exportPositionCSV" [(ngModel)]="selectedAuditDate.exportPositionCSV">
                      </textarea>
                    </div>

                    <div class="form-group" *ngIf="selectedAuditDate.uploadPositionFile">
                      <label class="control-label">Upload Operation Position:</label>
                      <textarea type="text" readonly class="form-control" formControlName="uploadPositionFile" [(ngModel)]="selectedAuditDate.uploadPositionFile">
                      </textarea>
                    </div>

                    <div class="form-group" *ngIf="selectedAuditDate.compteReportCSV">
                      <label class="control-label">Import CSV Module Compte:</label>
                      <textarea type="text" readonly class="form-control" formControlName="compteReportCSV" [(ngModel)]="selectedAuditDate.compteReportCSV">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.createUser">
                      <label class="control-label">Create Module User:</label>
                      <textarea type="text" readonly class="form-control" formControlName="createUser" [(ngModel)]="selectedAuditDate.createUser">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.updateIndividu">
                      <label class="control-label">Update Module Individu:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateIndividu" [(ngModel)]="selectedAuditDate.updateIndividu">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.updateSalarie">
                      <label class="control-label">Update Module Salarie:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateSalarie" [(ngModel)]="selectedAuditDate.updateSalarie">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.updateContact">
                      <label class="control-label">Update Module Contact:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateContact" [(ngModel)]="selectedAuditDate.updateContact">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.updatePayment">
                      <label class="control-label">Update Module Payment:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updatePayment" [(ngModel)]="selectedAuditDate.updatePayment">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.updateAdresse">
                      <label class="control-label">Update Module Adresse:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateAdresse" [(ngModel)]="selectedAuditDate.updateAdresse">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.updateCompte">
                      <label class="control-label">Update Module Compte:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateCompte" [(ngModel)]="selectedAuditDate.updateCompte">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.updateMouvement">
                      <label class="control-label">Update Opération Movement:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateMouvement" [(ngModel)]="selectedAuditDate.updateMouvement">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.updatePosition">
                      <label class="control-label">Update Opération Position:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updatePosition" [(ngModel)]="selectedAuditDate.updatePosition">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.updateUser">
                      <label class="control-label">Update Module User:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateUser" [(ngModel)]="selectedAuditDate.updateUser">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.deleteIndividu">
                      <label class="control-label">Delete Module Individu:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteIndividu" [(ngModel)]="selectedAuditDate.deleteIndividu">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.deleteSalarie">
                      <label class="control-label">Delete Module Salarie:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteSalarie" [(ngModel)]="selectedAuditDate.deleteSalarie">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.deleteContact">
                      <label class="control-label">Delete Module Contact:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteContact" [(ngModel)]="selectedAuditDate.deleteContact">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.deletePayment">
                      <label class="control-label">Delete Module Payment:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deletePayment" [(ngModel)]="selectedAuditDate.deletePayment">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.deleteAdresse">
                      <label class="control-label">Delete Module Adresse:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteAdresse" [(ngModel)]="selectedAuditDate.deleteAdresse">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.deleteCompte">
                      <label class="control-label">Delete Module Compte:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteCompte" [(ngModel)]="selectedAuditDate.deleteCompte">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.deleteMouvement">
                      <label class="control-label">Delete Operation Movement:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteMouvement" [(ngModel)]="selectedAuditDate.deleteMouvement">
                      </textarea>
                    </div>
                    <div class="form-group" *ngIf="selectedAuditDate.deletePosition">
                      <label class="control-label">Delete Operation Position:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deletePosition" [(ngModel)]="selectedAuditDate.deletePosition">
                      </textarea>
                    </div>

                    <div class="form-group" *ngIf="selectedAuditDate.deleteUser">
                      <label class="control-label">Delete Module User:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteUser" [(ngModel)]="selectedAuditDate.deleteUser">
                      </textarea>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
