<div class="container">
  <h3 class="h3-class">Audit</h3>
  <hr>

  <div class=" row">
    <div class="form-group col-sm-10">
      <label style="margin-left: 10px">Mot Clé</label>
      <input style="height: 33px;width: fit-content" type="text" [(ngModel)]="motCle"/>
      <button class="btn btn-info" style="width: fit-content" (click)="searchAudit()">Chercher</button>
    </div>
    <div class="col-sm-2" id="reportAdresse" #reportAdresse>
      <div class="d-inline-block">
        <a href="" data-toggle="collapse">
          <button type="button" style="margin-bottom: 14px" class="btn btn-info" (click)="downloadFile(audits)">Export to CSV</button>
        </a>
      </div>
    </div>
  </div>


  <div class="col-sm-12">
    <table class="col-sm-12 table table-hover">
      <thead>
      <tr>
        <th>User Name</th>
        <th>Login Date</th>
        <th>Upload File Name</th>
        <th>Error File Name</th>
        <th>Report File Name</th>
        <th>Habilitation</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let audit of pageAudits?.content">
        <td> {{audit.username}}</td>
        <td>{{audit.loginDate}}</td>
        <td>{{audit.uploadFileName}}</td>
        <td>{{audit.errorFileName }}</td>
        <td>{{audit.reportFileName}}</td>
        <td>{{audit.habilitation}}</td>
        <td>
          <a href="" data-toggle="collapse">
            <i class="fa fa-info-circle" data-toggle="tooltip" data-toggle="modal" data-target="#Modal" title="User Audit Details"
            (click)="selectedAudit=audit"> </i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="container">
      <ul class="nav">
        <li class="nav-item " [ngClass]="{'activePagin': i === currentPage}" *ngFor="let p of pages; let i=index">
          <a class="nav-link clickable" routerLink="#" (click)="gotoPage(i)">{{i}}</a>
        </li>
      </ul>
    </div>


    <div class="card-body">
      <div ngDraggable class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog"  class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #12899e;cursor:move;" >
              <h5 class="modal-title" id="AddModalLabel" style="color: white">
                {{ 'Plus d\'information'}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align:right;width:auto">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div>
                  <form [formGroup]="auditForm" style="border-color: white; overflow-y: auto">
                    <div class="form-group">
                      <label class="control-label">Import CSV Module Individu:</label>
                      <textarea type="text" readonly class="form-control" formControlName="individuReportCSV" [(ngModel)]="selectedAudit.individuReportCSV">
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Import CSV Module Salarie:</label>
                      <textarea type="text" readonly class="form-control" formControlName="salarieReportCSV" [(ngModel)]="selectedAudit.salarieReportCSV">
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Import CSV Module Contact:</label>
                      <textarea type="text" readonly class="form-control" formControlName="contactReportCSV" [(ngModel)]="selectedAudit.contactReportCSV">
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Import CSV Module Payment:</label>
                      <textarea type="text" readonly class="form-control" formControlName="paymentReportCSV" [(ngModel)]="selectedAudit.paymentReportCSV">
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Import CSV Module Adresse:</label>
                      <textarea type="text" readonly class="form-control" formControlName="adresseReportCSV" [(ngModel)]="selectedAudit.adresseReportCSV">
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Import CSV Module Compte:</label>
                      <textarea type="text" readonly class="form-control" formControlName="compteReportCSV" [(ngModel)]="selectedAudit.compteReportCSV">
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Create Module User:</label>
                      <textarea type="text" readonly class="form-control" formControlName="createUser" [(ngModel)]="selectedAudit.createUser">
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Update Module Individu:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateIndividu" [(ngModel)]="selectedAudit.updateIndividu">
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Update Module Salarie:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateSalarie" [(ngModel)]="selectedAudit.updateSalarie">
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Update Module Contact:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateContact" [(ngModel)]="selectedAudit.updateContact">
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Update Module Payment:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updatePayment" [(ngModel)]="selectedAudit.updatePayment">
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Update Module Adresse:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateAdresse" [(ngModel)]="selectedAudit.updateAdresse">
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Update Module Compte:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateCompte" [(ngModel)]="selectedAudit.updateCompte">
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Update Module User:</label>
                      <textarea type="text" readonly class="form-control" formControlName="updateUser" [(ngModel)]="selectedAudit.updateUser">
                      </textarea>
                    </div>
                    <div class="form-group">
                    <label class="control-label">Delete Module Individu:</label>
                    <textarea type="text" readonly class="form-control" formControlName="deleteIndividu" [(ngModel)]="selectedAudit.deleteIndividu">
                    </textarea>
                  </div>
                    <div class="form-group">
                      <label class="control-label">Delete Module Salarie:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteSalarie" [(ngModel)]="selectedAudit.deleteSalarie">
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Delete Module Contact:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteContact" [(ngModel)]="selectedAudit.deleteContact">
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Delete Module Payment:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deletePayment" [(ngModel)]="selectedAudit.deletePayment">
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Delete Module Adress:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteAdresse" [(ngModel)]="selectedAudit.deleteAdresse">
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Delete Module Compte:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteCompte" [(ngModel)]="selectedAudit.deleteCompte">
                      </textarea>
                    </div>

                    <div class="form-group">
                      <label class="control-label">Delete Module User:</label>
                      <textarea type="text" readonly class="form-control" formControlName="deleteUser" [(ngModel)]="selectedAudit.deleteUser">
                      </textarea>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
