<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <style>
    /* Make the image fully responsive */
    .carousel-inner img {
      height: 680px;
    }
  </style>
</head>
<body>
<div class="container mt-4">
  <div id="pur" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#pur" data-slide-to="0" class="active"></li>
      <li data-target="#pur" data-slide-to="1"></li>
      <li data-target="#pur" data-slide-to="2"></li>
      <li data-target="#pur" data-slide-to="3"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="pur1.jpg" alt="Congres pur" class="imgcontainer1">
        <div class="carousel-caption my-carousel-caption">
          <br><br><br>
          <h4>
            <input class="my-second-title" value="Congrès ordinaire du PUR">
          </h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="pur2.jpg" height="150px" alt="meeting">
        <div class="carousel-caption my-carousel-caption">
          <br><br><br>
          <h4>
            <input class="my-second-title" value="Campagne presidentielle 2019">
          </h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="pur3.jpg" alt="meeting">
        <div class="carousel-caption my-carousel-caption">
          <br><br><br>
          <h4>
            <input class="my-second-titleP" value="Campagne presidentielle 2019">
          </h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="pur4.jpg" alt="meeting">
        <div class="carousel-caption my-carousel-caption">
          <br><br><br>
          <h4>
            <input class="my-second-title" value="Campagne presidentielle 2019">
          </h4>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#pur" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#pur" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
</body>

