<div class="container">
  <h3 class="h3-class">Compte</h3>
  <hr>
  <div>
    <div class=" row">
      <div class="form-group col-sm-10">
        <label style="margin-left: 10px">Mot Clé</label>
        <input style="height: 33px;width: fit-content" type="text" [(ngModel)]="motCle"/>
        <button class="btn btn-info" style="width: fit-content" (click)="searchComptes()">Chercher</button>
      </div>
      <div class="col-sm-2" id="reportSalarie" #reportSalarie>
        <div class="d-inline-block">
          <a href="" data-toggle="collapse">
            <button type="button" style="margin-bottom: 14px" class="btn btn-info" (click)="downloadFile(comptes)">Export to CSV</button>
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <table class="col-sm-12 table table-hover">
        <thead>
        <tr>
          <th>Numéro de compte</th>
          <th>Libellé du Compte</th>
          <th>Type</th>
          <th>Ouvert</th>
          <th>Lettrage</th>
          <th>Statut Aff</th>
          <th>Typage</th>
          <th>Type Compte</th>
          <th>Individu</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let compte of pageComptes?.content">
          <td> {{compte.numCompte}}</td>
          <td>{{compte.libCompte}}</td>
          <td>{{compte.type}}</td>
          <td>{{compte.ouvert}}</td>
          <td>{{compte.lettrage}}</td>
          <td>{{compte.statutAff}}</td>
          <td>{{compte.typage}}</td>
          <td>{{compte.typeCompte}}</td>
          <td>{{compte.individu.lastName+' '+compte.individu.firstName}}</td>
          <td>
            <a href=""  data-toggle="collapse" >
              <i class="fa fa-edit" data-toggle="modal" data-target="#Modal" (click)="operation = 'edit'; selectedCompte = compte;"></i>
            </a>
            <a href="" data-toggle="collapse">
              <i class="fa fa-trash" data-toggle="modal" data-target="#RemoveCompteModal" (click)="operation = 'remove'; selectedCompte = compte;"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="container">
        <ul class="nav">
          <li class="nav-item " [ngClass]="{'activePagin': i === currentPage}" *ngFor="let p of pages; let i=index">
            <a class="nav-link clickable" routerLink="#" (click)="gotoPage(i)">{{i}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card-body">
      <div ngDraggable class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #12899e;cursor:move;" >
              <h5 class="modal-title" id="AddModalLabel" style="color: white">
                {{ operation == 'edit' ? 'Modifier Compte' : operation == 'remove' ? 'Supprimer Compte' :''}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align:right;width:auto">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div *ngIf="operation == 'edit'">
                  <form [formGroup]="compteForm" style="border-color: white; overflow-y: auto">
                    <div class="form-group">
                      <label class="control-label">Numéro de compte</label>
                      <input type="number" class="form-control" formControlName="numCompte" [(ngModel)]="selectedCompte.numCompte"/>
                    </div>

                    <div class="form-group">
                      <label>Libellé du Compte:</label>
                      <input type="text" class="form-control" formControlName="libCompte" [(ngModel)]="selectedCompte.libCompte"/>
                    </div>
                    <div class="form-group">
                      <label>Type:</label>
                      <input type="text" class="form-control" formControlName="type" [(ngModel)]="selectedCompte.type"/>
                    </div>
                    <div class="form-group">
                      <label>Ouvert:</label>
                      <select class="form-control" formControlName="ouvert" [(ngModel)]="selectedCompte.ouvert">
                      <option value=""> -- Ouvert --</option>
                      <option value="OUI">OUI</option>
                      <option value="NON">NON</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Lettrage:</label>
                      <select class="form-control" formControlName="lettrage" [(ngModel)]="selectedCompte.lettrage" (select)="selectedCompte.lettrage">
                        <option value=""> -- Lettrage --</option>
                      <option value="OUI">OUI</option>
                      <option value="NON">NON</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Statut Aff:</label>
                      <input type="text" class="form-control" formControlName="statutAff" [(ngModel)]="selectedCompte.statutAff"/>
                    </div>
                    <div class="form-group">
                      <label>Typage:</label>
                      <input type="text" class="form-control" formControlName="typage" [(ngModel)]="selectedCompte.typage"/>
                    </div>
                    <div class="form-group">
                      <label>Id Cpt Pc:</label>
                      <input type="number" class="form-control" formControlName="idCptPc" [(ngModel)]="selectedCompte.idCptPc"/>
                    </div>
                    <div class="form-group">
                      <label>Type Compte:</label>
                      <select class="form-control" formControlName="typeCompte" [(ngModel)]="selectedCompte.typeCompte" (select)="selectedCompte.typeCompte">
                        <option value="">-- Choisir Type Compte --</option>
                        <option value="CASH">CASH</option>
                        <option value="TIT">TIT</option>
                      </select>
                    </div>
                    <div class="form-group" *ngIf="operation!='edit'">
                      <label>Individu:</label>
                      <input type="text" class="form-control" formControlName="individu" [(ngModel)]="selectedCompte.individu"/>
                    </div>

                    <button class="btn btn-info" data-dismiss="modal"
                            (click)="updateCompte()">
                      {{'edit' ? 'Modifier': ''}}
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ngDraggable class="modal fade" id="RemoveCompteModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog" class="modal-dialog modal-dialog-centered"  role="document">
        <div class="modal-content" style="height: auto">
          <div class="modal-header" style="background-color: #12899e;cursor:move;" >
            <h5 class="modal-title" id="RemoveLabel" style="color: white">
              {{ 'Supprimer Compte'}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align:right;width:auto">
              <span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <div>
                <p class="card-title">
                  ID: {{selectedCompte.numCompte}}
                </p>
                <p>
                  Voulez vous supprimer cette Num Compete?
                </p>
                <button class="btn btn-success" data-dismiss="modal" [disabled]="!selectedCompte.numCompte" (click)="deleteCompte()">Confirmer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
