<div class="bg-image align-content-vertical-parent">
  <div class="align-content-vertical-child">
    <div class="row container align-content-vertical-child">
      <div class="col-lg-5 globalcontainer">

        <form [formGroup]="loginForm" (submit)="login()" class="loginForm">
          <div class="imgcontainer">
            <img>
          </div>
          <div class="container">
            <input type="text" placeholder="Username" id="username" name="username" formControlName="username"
                   [(ngModel)]="credentials.username">

            <input type="password" placeholder="Password" id="password" name="password" formControlName="password"
                   [(ngModel)]="credentials.password">
            <button type="submit" class="submitbtn">LOGIN</button>
            <br>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>

          <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">{{'CANCEL' | translate}}</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

