<div class="bg-image align-content-vertical-parent">
  <div class="align-content-vertical-child">
    <div class="row">
      <div class="col-sm-6 ibblLogo"></div>
    </div>
    <div class="row container align-content-vertical-child">
      <div class="col-lg-6 globalcontainer">

        <form [formGroup]="loginForm" (submit)="login()" class="loginForm">
          <div class="container">
            <div class="iscoTrackLogo align-content-vertical-child ">
              <div class="iscotrackTextUp">iSCOTRACK</div>
              <div class="iscotrackTextDown">IBBL Sample Collection & Tracking</div>
            </div>
            <input type="text" placeholder="Username" id="username" name="username" formControlName="username"
                   [(ngModel)]="credentials.username">

            <input type="password" placeholder="Password" id="password" name="password" formControlName="password"
                   [(ngModel)]="credentials.password">
            <button type="submit" class="submitbtn">LOGIN</button>
            <br>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>

          <div class="bottomContainer" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">{{'CANCEL' | translate}}</button>
            <span class="psw">Forgot password?</span>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>

