<div class="custom-file">
  <input type="file" id="customFile" #fileUploadInput (change)="selectFile($event)"  accept=".csv" >
  <label class="custom-file-label" for="customFile">{{fileName ? fileName : 'Choisissez un fichier!'}}</label>
</div>
<div class="checkout-wrap">
  <ul class="checkout-bar">
    <li [ngClass]="{active: currentStep == 1, visited: currentStep>1}" (click)="selectedStep=1;" >Importer un fichier</li>
    <li [ngClass]="{active: currentStep == 2, visited: currentStep>2}" (click)="selectedStep=2;" >Envoyer</li>
    <li [ngClass]="{active: currentStep == 3, visited: currentStep>3}" (click)="selectedStep=3;" >Récupérer les données</li>
  </ul>
</div>
<div [ngSwitch]="selectedStep">
  <div *ngSwitchCase="1">


    <div *ngIf="dataArray; else emptyData">
      <table class="table table-hover">
        <thead>
        <tr>
          <th *ngFor="let dataModel of dataModelListFiltred">{{dataModel.columnReference}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of dataArray">
          <td *ngFor="let dataModel of dataModelListFiltred">{{item[dataModel.columnName]}}</td>
        </tr>
        </tbody>
      </table>
    </div>


    <div *ngIf="!dataArray">
      <p>Aucune donnée importée.</p>
    </div>
  </div>
  <div *ngSwitchCase="2">
    <div *ngIf="!dataSentToServer && company_cd_required">
      <p>Cliquez pour envoyer les données au serveur !</p>
      <button class="btn btn-default" (click)="sendDataToServer()">Send</button>
    </div>
    <div *ngIf="dataSentToServer">
      <p>L'envoie est terminé.</p>
    </div>
  </div>
  <div *ngSwitchCase="3">
    <div id="report" #report>
      <div class="text-center">
        <p class="badge badge-info">Ce fichier contient {{dataArray.length}} lignes </p>
      </div>
      <div class="text-center">
        <p class="badge badge-secondary">Nombre de lignes rejétés: {{nbreLigneRejete}}</p>
      </div>
      <div class="row container">
        <div class="col-lg-7">
          <p class="badge badge-info">Phase de creation</p><br/>
          <p class="badge badge-light">Module individus: Nombre de lignes crées: <span class="badge badge-info">{{individusCreatedDataArray.length}}</span></p>
          <p class="badge badge-light">Module Salarié: Nombre de lignes crées: <span class="badge badge-info">{{salarieCreatedDataArray.length}}</span></p>
          <p class="badge badge-light">Module Contact: Nombre de lignes crées: <span class="badge badge-info">{{contactCreatedDataArray.length}}</span></p>
          <p class="badge badge-light">Module IBAN: Nombre de lignes crées: <span class="badge badge-info">{{ibanCreatedDataArray.length}}</span></p>
          <p class="badge badge-light">Module Adresse: Nombre de lignes crées: <span class="badge badge-info">{{adresseCreatedDataArray.length}}</span></p>
          <p class="badge badge-light">Module Compte: Nombre de lignes crées: <span class="badge badge-info">{{compteCreatedDataArray.length}}</span></p>
        </div>
        <div class="col-lg-5">
          <p class="badge badge-info">Phase de mise à jour</p><br/>
          <p class="badge badge-light">Module individus: Nombre de lignes mises à jour: <span class="badge badge-info">{{individusUpdatedDataArray.length}}</span></p>
          <p class="badge badge-light">Module Salarié: Nombre de lignes mises à jour: <span class="badge badge-info">{{salarieUpdatedDataArray.length}}</span></p>
          <p class="badge badge-light">Module Contact: Nombre de lignes mises à jour: <span class="badge badge-info">{{contactUpdatedDataArray.length}}</span></p>
          <p class="badge badge-light">Module IBAN: Nombre de lignes mises à jour: <span class="badge badge-info">{{ibanUpdatedDataArray.length}}</span></p>
          <p class="badge badge-light">Module Adresse: Nombre de lignes mises à jour: <span class="badge badge-info">{{adresseUpdatedDataArray.length}}</span></p>
          <p class="badge badge-light">Module Compte: Nombre de lignes mises à jour: <span class="badge badge-info">{{compteUpdatedDataArray.length}}</span></p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info btn-lg btn-block" (click)="downloadPDFModules($event)" >EXPORT REPORT TO PDF</button>
    </div>
    <!--<button class="btn btn-outline-success" (click)="downloadPDFModules($event)">Export Report to PDF</button>-->

    <div *ngIf="dataFromServer">

    <!--<a href=""  data-toggle="collapse" >
      <i class="fas fa-arrow-alt-circle-down" (click)="downloadReportPDF()"></i>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </a>-->

  <!--  <div *ngIf="dataFromServer">
      <table class="table table-hover">
        <thead>
        <tr>
          <th *ngFor="let dataModel of dataModelList">{{dataModel.columnReference}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of dataFromServer">
          <td *ngFor="let dataModel of dataModelList">{{item[dataModel.columnName]}}</td>
        </tr>
        </tbody>
      </table>
    </div>-->
    <div *ngIf="!dataFromServer">
      <p>Aucune donnée récupérée.</p>
    </div>
  </div>
</div>
