<h3 class="h3-class">Instrument</h3>
<br>
<!-----ERRORS Messages ----->
<ng-container>
  <div id="content" #content>
    <div class="row" style="margin-left: 20px">
      <div class="col-sm-10" style="font-size: small;">
        <div *ngIf="BadHeaders">
          <p class="badge-dark " style="with: 100px">Ce fichier n'est pas approprié pour ce module. Merci de rensegner le bon fichier au format suivant: ID, CODE,
            NOM, CODESOCIETEGESTION, STATUT, NATURE, CLASSIFICATION, CODEEMPLOIREVENU, PERIODICITE, PRECISIONPART, PRECISIONVL, PRECISIONPLUSVALUE, CUTOFFSTP
            IDDEVISE, NIVEAURISQUE, HORIZONPLACEMENT, CUTOFF, CUTOFFFAX, CODEFUNDLIFE, IDPLATEFORME, IDSOCIETEGESTION, IDDEPOSITAIRE, IDAGENTTRANSFERT</p>
        </div>

        <div *ngIf="codeRequired == false">
          <p class=" badge-dark " style="with: 100px">Le code de l'instrument de la ligne {{codeRequiredLine}} n'est pas renseigné !</p>
        </div>
        <div *ngIf="nomRequired == false">
          <p class=" badge-dark ">Le nom de l'instrument de la ligne {{nomRequiredLine}} n'est pas renseigné !</p>
        </div>
        <div *ngIf="statutRequired == false">
          <p class=" badge-dark " style="with: 100px">Le statut de l'instrument de la ligne {{statutRequiredLine}} n'est pas renseigné !</p>
        </div>
        <div class="col-sm-2" style="align-self:center" *ngIf="(codeRequired == false || nomRequired == false || BadHeaders == true || statutRequired == false)">
          <a href="" (click)="downloadPDF($event)">
            <i class="fa fa-arrow-circle-o-down" style="font-size:40px;color:#12899e;" ></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br>
</ng-container>


<div class="bd-example bd-example-tabs">
  <!----IMPORTER----->
  <nav class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-importer-tab" data-toggle="tab" href="#nav-importer" role="tab" aria-controls="importer" aria-expanded="true">Importer un fichier</a>
    <a class="nav-item nav-link" id="nav-table-tab" data-toggle="tab" href="#nav-table" role="tab" aria-controls="table" aria-expanded="false" (click)="loadInstruments()">Simple Crud</a>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <br>
    <div class="tab-pane fade active show" id="nav-importer" role="tabpanel" aria-labelledby="nav-importer-tab" aria-expanded="true">
      <div class="custom-file">
        <input type="file" id="customFile" #fileUploadInput style="width: 90%" (change)="selectFile($event)"  accept=".csv" >
        <label class="custom-file-label" for="customFile">{{fileName ? fileName : 'Choisissez un fichier!'}}</label>
      </div>
      <div class="checkout-wrap">
        <ul class="checkout-bar" >
          <li class="lipaging" [ngClass]="{active: currentStep == 1, visited: currentStep>1}" (click)="selectedStep=1;" >Importer un fichier</li>
          <li class="lipaging" [ngClass]="{active: currentStep == 2, visited: currentStep>2}" (click)="selectedStep=2;" >Envoyer</li>
          <li class="lipaging" [ngClass]="{active: currentStep == 3, visited: currentStep>3}" (click)="selectedStep=3;" >Récupérer les données</li>
        </ul>
      </div>

      <div [ngSwitch]="selectedStep" >

        <div *ngSwitchCase="1">
          <div *ngIf="dataArray; else emptyData">
            <p class="badge badge-info">Apperçu avant chargement...</p>
            <table class="table table-hover">
              <thead>
              <tr>
                <th *ngFor="let dataModel of dataModelListFiltred">{{dataModel.columnReference}}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of dataArray">
                <td *ngFor="let dataModel of dataModelListFiltred">{{item[dataModel.columnName]}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngSwitchCase="2">
          <div >
            <p>Cliquez pour envoyer les données au serveur !</p>
            <button class="btn btn-success" style="width: fit-content" (click)="sendDataToServer()">Send</button>
          </div>
          <div *ngIf="dataSentToServer">
            <p>L'envoie est terminé.</p>
          </div>
        </div>
        <div *ngSwitchCase="3">
          <div id="report" #report>
            <div class="text-center">
              <p class="badge badge-info">Ce fichier contient {{dataArray.length}} lignes </p>
            </div>
            <div class="row container">
              <div class="col-lg-6">
                <p class="badge badge-info">Phase de creation</p><br/>
                <p class="badge badge-light">Module Instruments: Nombre de lignes crées: <span class="badge badge-info">{{instrumentsCreatedDataArray.length}}</span></p>
              </div>
              <div class="col-lg-6">
                <p class="badge badge-info">Phase de mise à jour</p><br/>
                <p class="badge badge-light">Module Instruments: Nombre de lignes mises à jour: <span class="badge badge-info">{{instrumentsUpdatedDataArray.length}}</span></p>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-info btn-lg btn-block" (click)="downloadPDFModules($event)" >EXPORT REPORT TO PDF</button>
          </div>
          <div *ngIf="dataFromServer">
            <div *ngIf="!dataFromServer">
              <p>Aucune donnée récupérée.</p>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!----TABLE---->

    <div class="tab-pane fade" id="nav-table" role="tabpanel" aria-labelledby="nav-table-tab" aria-expanded="false">
      <div class="col-sm-12">
        <div class=" row">
          <div class="form-group col-sm-10">
          <search-input (clickSearch)="searchInstrument($event)" class="form-inline col-sm-4"></search-input>
          </div>
          <div class="col-sm-2" id="reportInstrument" #reportInstrument>
            <div class="d-inline-block">
              <a href="" data-toggle="collapse" *ngIf="instruments">
                <button type="button" style="margin-bottom: 14px" class="btn btn-info" (click)="downloadFile(instruments)">Export to CSV</button>
              </a>
            </div>
          </div>
        </div>
        <table class="col-sm-12 table table-hover">
          <thead>
          <tr>
            <th>Code</th>
            <th>Nom</th>
            <th>Code Societe</th>
            <th>Statut</th>
            <th>Nature</th>
            <th>Classification</th>
            <th>Periodicité</th>
            <th>Précision part</th>
            <th>CutOff STP</th>
            <th>ID Devise</th>
            <th>Niveau risque</th>
            <th>ID Plateforme</th>
            <th>
              <a href="" data-toggle="collapse">
                <!--<i class="fa fa-plus" data-toggle="tooltip" data-toggle="modal" data-target="#ModalMovements" title="Ajouter Movoument"  (click)="operation= 'add'; initMoviments()"></i>-->
              </a>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let instrument of pageInstruments?.content">
            <td>{{instrument.code}}</td>
            <td>{{instrument.nom}}</td>
            <td>{{instrument.codeSocieteGestion}}</td>
            <td>{{instrument.statut}}</td>
            <td>{{instrument.nature}}</td>
            <td>{{instrument.classification}}</td>
            <td>{{instrument.periodicite}}</td>
            <td>{{instrument.precisionPart}}</td>
            <td>{{instrument.cutOffStp}}</td>
            <td>{{instrument.idDevise}}</td>
            <td>{{instrument.niveauRisque}}</td>
            <td>{{instrument.idPlateforme}}</td>
            <td>
              <a href=""  data-toggle="collapse" >
                <i class="fa fa-edit" data-toggle="modal" data-target="#ModalInstruments" (click)="operation = 'edit'; selectedInstrument = instrument;"></i>
              </a>
              <a href="" data-toggle="collapse">
                <i class="fa fa-trash" data-toggle="modal" data-target="#RemoveModalIntruments" (click)="operation = 'remove'; selectedInstrument = instrument;"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="container">
        <ul class="nav">
          <li class="nav-item liclass"[ngClass]="{'activePagin': i === currentPage}" *ngFor="let p of pages; let i=index">
            <a class="nav-link clickable" (click)="gotoPage(i)">{{i}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="card-body">
  <div ngDraggable class="modal fade" id="ModalInstruments" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #12899e;cursor:move;" >
          <h5 class="modal-title" id="AddModalLabel" style="color: white">
            {{ operation == 'add' ? 'Ajouter Instrument' : operation == 'edit' ? 'Modifier Intrument' :''}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align:right;width:auto">
            <span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div *ngIf="operation == 'add' || operation == 'edit'">
              <form [formGroup]="instrumentForm" style="border-color: white; overflow-y: auto">
                <div class="form-group">
                  <label class="control-label">Code instrument:</label>
                  <input type="text" class="form-control" formControlName="code" [(ngModel)]="selectedInstrument.code"/>
                </div>
                <div class="form-group" *ngIf="operation=='add'">
                  <label>Nom instrument:</label>
                  <input type="text" class="form-control" formControlName="nom" [(ngModel)]="selectedInstrument.nom"/>
                </div>
                <div class="form-group">
                  <label class="control-label">Code societe gestion:</label>
                  <input type="text" class="form-control" formControlName="codeSocieteGestion" [(ngModel)]="selectedInstrument.codeSocieteGestion"/>
                </div>
                <div class="form-group">
                  <label>Statut:</label>
                  <input type="text" class="form-control" formControlName="statut" [(ngModel)]="selectedInstrument.statut"/>
                </div>
                <div class="form-group">
                  <label>Nature:</label>
                  <input type="text" class="form-control" formControlName="nature" [(ngModel)]="selectedInstrument.nature"/>
                </div>
                <div class="form-group">
                  <label>Classification:</label>
                  <input type="text" class="form-control" formControlName="classification" [(ngModel)]="selectedInstrument.classification"/>
                </div>
                <div class="form-group">
                  <label>Code emploi revenu:</label>
                  <input type="text" class="form-control" formControlName="codeEmploiRevenu" [(ngModel)]="selectedInstrument.codeEmploiRevenu"/>
                </div>
                <div class="form-group">
                  <label>Periodicite:</label>
                  <input type="text" class="form-control" formControlName="periodicite" [(ngModel)]="selectedInstrument.periodicite"/>
                </div>
                <div class="form-group">
                  <label>Precision Part:</label>
                  <input type="number" class="form-control" formControlName="precisionPart" [(ngModel)]="selectedInstrument.precisionPart"/>
                </div>
                <div class="form-group">
                  <label>PrecisionVL:</label>
                  <input type="number" class="form-control" formControlName="precisionVL" [(ngModel)]="selectedInstrument.precisionVL"/>
                </div>
                <div class="form-group">
                  <label>Precision Plus Value:</label>
                  <input type="number" class="form-control" formControlName="precisionPlusValue" [(ngModel)]="selectedInstrument.precisionPlusValue"/>
                </div>
                <div class="form-group">
                  <label>CutOFF STP:</label>
                  <input type="time" class="form-control" formControlName="cutOffStp" [(ngModel)]="selectedInstrument.cutOffStp"
                         value="{{parse(selectedInstrument.cutOffStp) | date:'HH:mm' }}"/>
                </div>
                <div class="form-group">
                  <label>ID Devise:</label>
                  <input type="text" class="form-control" formControlName="idDevise" [(ngModel)]="selectedInstrument.idDevise"/>
                </div>
                <div class="form-group">
                  <label>Niveau risque:</label>
                  <input type="number" class="form-control" formControlName="niveauRisque" [(ngModel)]="selectedInstrument.niveauRisque"/>
                </div>
                <div class="form-group">
                  <label>Horizon placement:</label>
                  <input type="number" class="form-control" formControlName="horizonPlacement" [(ngModel)]="selectedInstrument.horizonPlacement"/>
                </div>
                <div class="form-group">
                  <label>CutOff:</label>
                  <input type="time" class="form-control" formControlName="cutOff" [(ngModel)]="selectedInstrument.cutOff"
                         value="{{parse(selectedInstrument.cutOff) | date:'HH:mm' }}"/>
                </div>

                <div class="form-group">
                  <label>CutOffFax:</label>
                  <input type="time" class="form-control" formControlName="cutOffFax" [(ngModel)]="selectedInstrument.cutOffFax"
                         value="{{parse(selectedInstrument.cutOffFax) | date:'HH:mm' }}"/>
                </div>
                <div class="form-group">
                  <label>Code Fund Life:</label>
                  <input type="text" class="form-control" formControlName="codeFundLife" [(ngModel)]="selectedInstrument.codeFundLife"/>
                </div>
                <div class="form-group">
                  <label>ID Plateforme:</label>
                  <input type="text" class="form-control" formControlName="idPlateforme" [(ngModel)]="selectedInstrument.idPlateforme"/>
                </div>
                <div class="form-group">
                  <label>ID Societe Gestion:</label>
                  <input type="number" class="form-control" formControlName="idSocieteGestion" [(ngModel)]="selectedInstrument.idSocieteGestion"/>
                </div>
                <div class="form-group">
                  <label>ID Depositaire:</label>
                  <input type="number" class="form-control" formControlName="idDepositaire" [(ngModel)]="selectedInstrument.idDepositaire"/>
                </div>
                <div class="form-group">
                  <label>ID Agent Transfert:</label>
                  <input type="number" class="form-control" formControlName="idAgentTransfert" [(ngModel)]="selectedInstrument.idAgentTransfert"/>
                </div>

                <button class="btn btn-info" data-dismiss="modal"
                        (click)="operation == 'add' ? addInstrument() : updateInstrument()">
                  {{operation == 'add' ? 'Ajouter': operation == 'edit' ? 'Modifier': ''}}
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ngDraggable class="modal fade" id="RemoveModalIntruments" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" class="modal-dialog modal-dialog-centered"  role="document">
    <div class="modal-content" style="height: auto">
      <div class="modal-header" style="background-color: #12899e;cursor:move;" >
        <h5 class="modal-title" id="RemoveLabel" style="color: white">
          {{ 'Supprimer Instruments'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align:right;width:auto">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <div>
            <p class="card-title">
              ID: {{selectedInstrument.code}}
            </p>
            <p>
              Voulez vous supprimer cet instrument?
            </p>
            <button class="btn btn-success" data-dismiss="modal" (click)="deleteInstrument()">Confirmer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

