.body-wrapper {
  height: 100%;
  display: table;
  width: 100%;
}

.body-login-wrapper {
  height: 100%;
}

.footer-ibbl {
  text-align: center;
  background-color: #6d97ac;
}

.footer-wrapper {
  display: table-footer-group;
}
