<nav class="hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[{outlets: { contentOutlet: 'radio-home'}}]"
         routerLinkActive="active">ACCUEIL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[{outlets: { contentOutlet: 'program'}}]"
         routerLinkActive="active">PROGRAMMES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[{outlets: { contentOutlet: 'live'}}]"
         routerLinkActive="active">PUR DIRECT</a>
    </li>

    <li class="nav-item">
      <a class="nav-link not-clickable" [routerLink]="[{outlets: { contentOutlet: 'podcast'}}]"
         routerLinkActive="active">PODCASTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link not-clickable" [routerLink]="[{outlets: { contentOutlet: 'video'}}]"
         routerLinkActive="active">VIDEOS</a>
    </li>
  </ul>
</nav>
