.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color:#6d97ac;
  border-bottom-style: double;
  padding-right: 0px;
  width: 202px;
}
.nav-item{
  width: 202px;
  font-family: "Segoe UI";
}
.sidebar-separator{
  border-bottom: 0px solid black;
}

.side-color{
  background-color: #e0dede;
}

a.nav-link {
  color: #706D6D;
}

a.subItem.nav-link{
  padding-left: 40px;
  font-size: 15px;
}
.mainItem{
  /*background-color: #e8f0fe;*/
  padding-left: 3px;
  font-size: 18px;;
}

.sidebar {
  background-color: #e8f0fe;
  width: fit-content;
  height: fit-content;
}




