<nav class="hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[{outlets: { contentOutlet: 'file'}}]"
                          routerLinkActive="active"
                          *ngIf="hasRoleUser()">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[{outlets: { contentOutlet: 'dashboard'}}]"
                          routerLinkActive="active"
                          *ngIf="hasRoleDashboard()">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[{outlets: { contentOutlet: 'user'}}]"
                          routerLinkActive="active"
                          *ngIf="hasRoleAdmin()">Utilisateurs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[{outlets: { contentOutlet: 'adresse'}}]"
         routerLinkActive="active"
         *ngIf="hasRoleAdresse()">Adresse</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="[{outlets: { contentOutlet: 'salarie'}}]"
         routerLinkActive="active"
         *ngIf="hasRoleSalarie()">Salarie</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="[{outlets: { contentOutlet: 'payment'}}]"
         routerLinkActive="active"
         *ngIf="hasRolePayment()">Payment</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="[{outlets: { contentOutlet: 'compte'}}]"
         routerLinkActive="active"
         *ngIf="hasRoleCompte()">Compte</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="[{outlets: { contentOutlet: 'individu'}}]"
         routerLinkActive="active"
         *ngIf="hasRoleIndividus()">Individu</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="[{outlets: { contentOutlet: 'contact'}}]"
         routerLinkActive="active"
         *ngIf="hasRoleContact()">Contact</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="[{outlets: { contentOutlet: 'habilitation'}}]"
         routerLinkActive="active"
         *ngIf="hasRoleAdmin()">Habilitation</a>    </li>
  </ul>
</nav>
