/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
.align-content-vertical-parent {
  display: table;
  width: 100%;
}

.align-content-vertical-child {
  vertical-align: middle;
  display: table-cell;
}

.activePagin, .li:hover .li {
  color: black;
  width: 40px;
}

.h3-class {
  color: #ababab;
  text-align: center;
  font-weight: bold;
}

.clickable {
  cursor: pointer;
  color: #ababab;
}

pagination-controls li.current {
  background-color: #6d97ac !important;
}

pagination-controls a {
  color: #6d97ac !important;
  font-weight: bold;
}

pagination-controls li {
  font-size: 16px !important;
  font-family: "Segoe UI" !important;
}
