/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

.align-content-vertical-parent {
  display: table;
  width: 100%;
}

.align-content-vertical-child {
  vertical-align: middle;
  display: table-cell;
}

.activePagin, .li:hover {
  background-color: #7ac8bc;
  color: black;
}

