/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

.align-content-vertical-parent {
  display: table;
  width: 100%;
}

.align-content-vertical-child {
  vertical-align: middle;
  display: table-cell;
}

.activePagin, .li:hover .li {
  background-color: #7ac8bc;
  color: black;
  width: 40px;
}

.h3-class {
  color: #ababab;
  text-align: center;
  font-weight: bold;
}

.clickable {
  cursor: pointer;
  color: #ababab;
}

a.nav-link.clickable {
  color: #ababab !important;
}

a.nav-link.not-clickable {
  color: #bfbfbf;
}
.button{
  background-color: #ababab;
  color: white;
}
.tableColor{
  background-color: #ababab;
  text-align: center;
}
.qcKO{
  background-color: #FF5E4D;
}
.qcOK{
  background-color: #B0F2B6;
}
td{
  font-size: 12px;
  font-weight: bold;
}
