<div class="row">
  <div class="col-lg-3">
    <div class="form-group col-sm-10">
      <label style="margin-left: 10px">Position avant </label>
      <input type="date" class="form-control" [(ngModel)]="dateBefore"/>
      <label style="margin-left: 10px">Position après</label>
      <input type="date" class="form-control" [(ngModel)]="dateAfter"/><br/>
      <button class="btn btn-info" style="width: fit-content" (click)="searchMovementByDate()" >Chercher</button>
    </div>
  </div>
  <div class="col-lg-9">
    <div *ngIf="dateBefore && dateAfter">
      <!--<div class="col-sm-2" id="reportOperations" #reportOperations>
        <div class="d-inline-block">
          <a href="" data-toggle="collapse">
            <button type="button" style="margin-bottom: 14px" class="btn btn-info" (click)="downloadFile(operations)">Export to CSV</button>
          </a>
        </div>
      </div>-->
      <table class="col-sm-7 table table-hover">
        <thead>
          <tr>
            <th>Num compte</th>
            <th>Entité mère</th>
            <th>Sens</th>
            <th>Quantité</th>
            <th>NAV</th>
            <th>PRU</th>
            <th>Owner</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let operation of pageOperations?.content">
            <td>{{operation.compte.numCompte}}</td>
            <td>{{operation.idEntityMere}}</td>
            <td>{{operation.sens}}</td>
            <td>{{operation.quantiteInstrument}}</td>
            <td>{{operation.nav}}</td>
            <td>{{operation.pruInstrument}}</td>
            <td>{{operation.compte.individu.lastName+' '+operation.compte.individu.firstName}}</td>
          </tr>
        </tbody>
      </table>
      <div class="container">
        <ul class="nav">
          <li class="nav-item" [ngClass]="{'activePagin': i === currentPage}" *ngFor="let p of pages; let i=index">
            <a class="nav-link clickable" (click)="gotoPage(i)">{{i}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


