<div class="container">
  <h3 class="h3-class">Habilitation</h3>
  <hr>
  <div class="col-12">
    <div class="row">
      <button class="col-sm-1 offset-md-11 btn btn-success pull-right" (click)="UpdateRoles($event)">Save</button>
      <div class="col-sm-12">
        <div class="form-group">
          <ngx-treeview [config]="config" [items]="items" (filterChange)="onFilterChange($event)"
                        (selectedChange)="values = $event" >
          </ngx-treeview>
        </div>
      </div>
    </div>
  </div>
</div>




