<div class="row">
  <div class="col-lg-12">
    <app-navebar [showSideBar]="showHideSideBar"
                 (showSideBarChange)="onShowSideBarChange($event)">
    </app-navebar>
  </div>
  <div class="row col-lg-12">
    <div class="col-lg-2 sidebar" *ngIf="showHideSideBar">
      <app-sidebare></app-sidebare>
    </div>
    <div [ngClass]="{'contentAll col-lg-10': showHideSideBar == false, 'contentNotAll col-lg-10': showHideSideBar}">
      <app-content></app-content>
    </div>
  </div>
</div>

